*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
/* header style */
.header{
    width: 1920px;
    height: 1322px;
    background-color: rgba(255, 144, 14, 0.1);
    align-items: center;
}
.nav-header{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    
}
.nav-title{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-top: 50px;
    margin-left: 100px;
}
.nav-interface{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: #424242;
    font-size: 18px;
    margin-top: 63px;
    margin-left: 673px;
}
/*---------------
 header banner style
 --------------------- */
header .header-info{
    margin-top: 115px;
    text-align: center;
}
.header-title{
    font-weight: 700;
    font-size: 64px;
    color: #131313;
    margin-bottom: 20px;
}
.header-description{
    color: #727272;
    font-size: 16px;
}
.explore{
    color: #FFFFFF;
    margin: 25px 870px 0 870px;
    font-size: 20px;
    width: 150px;
    height: 25px;
    padding: 20px 20px;
    background-color: #FF900E;
    border-radius: 8px;

}
.image{

    border-radius: 8px ;
    margin-top: 50px;
    margin-left: 240px;
}
/* main style */
.container{
    display: flex;
    

}
.team-container{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 85px 76px 0px 300px;
}
.feature{
    text-align: left;
    margin: 290px 300px 0 73px;

}
.title{
    color: #727272;
    font-weight: 500px;
    font-size: 45px;
}
.text-primary{
    color: #131313;
    font-weight: 700;
    font-size: 45px;
}
.text-feature{
    width: 468px;
    color: #FF900E;
    font-weight: 700;
    font-size: 45px;

}
.text-description{
    font-size: 16px;
    color: #727272;
    margin-top: 24px;
}
.explore-1{
    color: #FFFFFF;
    margin-top: 32px;
    font-size: 20px;
    width: 150px;
    height: 25px;
    padding: 20px 20px;
    background-color: #FF900E;
    border-radius: 8px;
}
/* features style */
.container-2{
    display: grid;
    grid-template-columns: repeat(2, .5fr);
}
.section-container{
    margin:169px 54px 168px 240px;

}
.dash{
    width: 5px;
    color: #FF900E;
}
.text title{

}
.features{
    width: 586px;
    margin:10px 10px 0;
    background-color: #FFFFFF;
    padding: 30px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
   
}
.features-container{
    margin-top: 30px;
}
.img{
    
    width: 800px;
    height: 1059px;
    background-color:#FFFFFF;
    padding:100px;
}